
/*this is the body of the whole webpage*/
body{
  margin: 0px;
  padding: 0px;
  background: #cac3e4;
  width: 100vw;
  height: 100vh;
}
/*navigtion bar*/
nav{
  width: 100%;
  background: #8474c1;
  overflow: auto;
  height: auto;
}
/*order the list*/
ul{
  padding: 0px;
  margin: 10px 10px 10px 283px;
  list-style: none; 
}
/*list for nav*/
li{
  float: left;
}
/*image in the bav bar*/
.logo img{
  position: absolute;
  margin-top: 10px;
  margin-left: 60px;
}
/*text for nav*/
nav a{
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  color: white;
  text-align: center;
  font-weight: bold;
}
/*highlights when mouse over nav links in nav bar*/
nav a:hover {
background-color: white;
color: black;
transition: 0.5s;
text-transform: uppercase;
text-decoration: underline;
}
/*highlights page link when in current
 page indecating active page.*/
nav a.active {
background-color: #dedaee;
color: #292049;
}
/*Wholepage to put content in*/
.wholepage{
  margin: auto;
	width: 70%;
	border: 2px solid #8474c1;
	padding: 5px;
	height: auto;
  background-color: white;
}


/*Content page*/
.content{
	margin: auto;
	height: auto;
	margin-top: 20px;
	width: 90%;
	padding: 5px;
  border-color: #292049;
}
/*cotinuation of recipes*/
.block-content{
  border: 2px solid #8474c1;
}
/*imges for about page*/
.about-img{
  margin-left: 15%;
  margin-top: 7%;
}
/*This is for all the text in the website. */
p{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  margin-top: 10%;
  text-align: left;
}
/*This is for bold text*/
b{
  font-size: 20px;
}

/*Videos */
iframe{
  margin-right: 3%;
  margin-top: 3%;
}


/*Images*/
* {
  box-sizing: border-box;
}
/*this is a container to put images*/
  .img-container {
    float: left;
    width: 20%;
    padding-right: 20px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
