body{
  margin: 0px;
  padding: 0px;
  background: gray;
}
nav{
  width: 100%;
  background: black;
  overflow: auto;
}
ul{
  padding: 0px;
  margin: 0px 0px 0px 150px;
  list-style: none; 
}
li{
  float: left;
}
.logo img{
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
}
nav a{
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  color: aqua;
  text-align: center;
}
nav a:hover {
background-color: white;
color: black;
transition: 0.5s;
text-transform: uppercase;
}
nav a.active {
background-color: #c5bee2;
color: white;
}
.wholepage{
  margin: auto;
	width: 70%;
	/*border: 2px solid #535c78;*/
	padding: 5px;
	/*background-color:#535c78;*/
	height: 1130px;
  background-color: white;
}