/*The colours will be temperary*/
/*This is the body for the website*/
body {
    text-align: center;
    background-color: #988bcb;
  }

div.content{
    background-color: white;
  	margin: auto;
    height: 1000px;
  	margin-top: 20;
	  width: 85%;
	  padding: 5px;
	  border: 2px solid  #f2f2f2;
}

.logo{
  float: left;
  text-align: left;
  width: auto;
  height:auto;
}
 /* Add a black background color to the top navigation */
.topnav {
    background-color: #aca1d5;
    overflow: hidden; 
    height: 85px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: left;
    padding: 34px 36px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color: #261e43;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #c5bee2;
    color: white;
  }
  